body, h1, h3 {
    
    margin: 0;
}

.container {
    
   
    width: 70%;    
    margin: 0 auto;
}

.box-1{
     background-color: #555555;
   /*  padding-top: 20px;
     padding-right: 25px;
     padding-bottom:30px;
     padding-left: 35px;
     
    */
    padding: 20px 30px;
    border: 3px solid red;
    margin-top: 30px;
}

.box-1 h1{
    text-align: center;
    text-decoration: underline;
    font-family: sans-serif;
    color: white;
}

.box-1 p{
    
    color: white;
    
}

.box-2{
    
    border: 3px dashed #555;
    margin-top: 30px;
    padding: 20px;
    
    
}

.box-2 h1, .box-2 p{
    color: #555;

}
.button{
    background-color: #222;
    color: #fff;
    font-size: 18px;
    border:1px solid #222;
    padding: 5px 15px;
    border-radius: 5px;
}

.button:hover{
    cursor: pointer;
    background-color: #fff;
    color: #222;
    
    
    
}

.box-3{
    margin: 30px 0;
    border: 1px solid #222;
    
    
}

.box-3 h1{
    text-align: center;
    color: #5e0a04;
    font-family: sans-serif;
    
}

.bottom{
    margin-top: 150px;
}

.clr {
    clear: both;
    
}

.Categories {
   padding: 0;  
}

.Categories li {
    list-style-type: none;
    padding: 5px 5px;
    border-bottom:1px solid #555; 
}



.MY form {
    
    
}

.MY form label {
    
    display: block;
    font-size: 20px;
    color: #555;
    
}

.MY form input, .MY form textarea {
    
    margin: 8px 0;
    padding: 5px;
    width: 100%;
}

.block {
    
    
    float: left;
    width: 33.3%;
    border: 1px solid #555;
    padding: 10px;
    box-sizing: border-box;
}


.content {
    
    float: left;
    width: 70%;
    
}

.sidebar {
      float: left;
      width: 30%;
      background-color: #333;
      color: #fff;
      box-sizing: border-box;
      padding: 0 10px;
    
    
}

.relitive {
    position: relative;
    top: 0;
    width: 500px;
    height: 400px;
    background-image: url(photo_2020-08-06_15-29-11.jpg);
    background-size: cover;
    
}

.absolute {
    position: absolute;
  /*  top: 50px;*/
    /*bottom: 0;
    right: 0;*/
    top: 30%;
    left: 10%   
}

.absolute2 {
    position: absolute;
  /*  top: 50px;*/
    /*bottom: 0;
    right: 0;*/
    top: 40%;
    right: 10%   
}

.fixed {
    position: fixed;
    left: 0;
    top: 50%; 
    
    
}

.list-items li {
    color: #555;
    padding: 5px;
    list-style-type: none;
    
}


.list-items li:first-child {
    
    background-color: #ff0000;
    color: #fff;
}



.list-items li:nth-child(even) {
    
    background-color: green;
}

.list-items li:last-child {
    
    background-color: blue;
    color: #fff;
}

.table1 {
    
    width: 100%;
    border-collapse: collapse;
    
}
.table1 th {
    border: 1px solid #555;
    background-color: green;
    color: #fff;
    padding: 5px;
    
    
    
}

.table1 td {
    text-align: center;
    border: 1px solid #555;
    padding: 5px;
    
    
}

.table1 tr:nth-child(even) {
    background-color: lemonchiffon;
    
}









































































































































































